*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: "Open Sans",Arial,sans-serif;
  font-size: .875rem;
	line-height: 1.42857143;
	background-image: url(../img/meteojob.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#main {
	width: 45%;
  margin: 150px auto;
	
}
form{
		width: 100%;
		background-color: #ffffff;
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 4px;
}
label, input{
	display: block;
}

/*---modification de la section 1----*/
.section-1{
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 50%;
	gap: 3%;
}

.tem > input{
	width: 100%;
	border:1px solid #bbb8b87a;
	box-sizing: border-box;
	padding: 10px 9px;
}
.tem > label{
	font-size: .875rem;
 	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #16354e;
	margin-bottom: 0.432%;
}
.tem > input::placeholder{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #919396;
    font-size: 1.1em;
}

.marge{
    margin-bottom: 1.2em;
}
.c__mdp{
	width: 100%;
	border:1px solid #bbb8b87a;
	box-sizing: border-box;
	padding: 10px 9px;
	display: flex;
}
.c__mdp input{
	border: none;
	flex: 1 0 0;
}
.c__mdp input::placeholder{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #919396;
    font-size: 1.1em;
}
.c__mdp img{
	width: 4%;
	filter: opacity(0.4);
}


/*---type de contrat------*/
input[type="checkbox"]{
	display: none;
}

fieldset{
	border: none;
}
legend{
	font-size: .9em;
	color: #272525da;
}
.input{
	display: flex;
	flex-wrap: wrap;
	
}
.input > label{
		width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em;
    font-size: .8em;
    margin: 5px 20px 5px 0;
    background-color: #f2f2f2;
    color: #16354e;
    user-select: none;
    cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
}
.input > label:last-of-type{
	background-color: transparent;
	width: auto;
}
.input > label > span{
	word-wrap: break-word;
	text-align: center;
}

#cdi:checked ~ .c1, 
#cdd:checked ~ .c2,
#if:checked ~ .c3,
#int:checked ~ .c4,
#stage:checked ~ .c5,
#aa:checked ~ .c6{
	 background-color: #3498db;
   color: #ffffff;
}
.sub{
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub > input[type="submit"]{
    margin: 6px auto;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #3498db;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: .9em;
}
/*-----------CONDITION---------*/

.term__field{
    display: flex;
}

.term__field > span:first-child{
    width: 80%;
    /* word-wrap: break-word; */
    /* word-spacing: .2em; */
    color: #16354e;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
    font-size: .875em;
    font-weight: 600;
    /* text-align: justify; */
}

.term__field > span > a{
    color: #16354e;
}

.btn--switch{
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #919396;
    overflow: hidden;
}

.btn--switch label{
    display: inline-block;
    padding: 2px;
    font-family: var(--font-label);
    color: transparent;
}

#term:not(:checked) ~ .btn__refused{
    background-color: #919396;
    color: #ffffff;
}

#term:checked ~ .btn__accepted{
    background-color: #0964ee;
    color: #ffffff;
}







